        html{
            background-color: black;
        }
        body {
            padding-left: 5%;
            padding-right: 5%;
        }
        h1 {
            color:#b0a4ff;
            text-decoration: underline;
        }
        ul, h2, a {
            color:#b0a4ff;
        }
        img {
            width: 200px;
            padding-left: 20%;
        }
        p {
            color:#b0a4ff;
            padding-right: 50%;
            margin:1px;
        }
        img {
            color:#b0a4ff;
            padding-top: 5%;
            padding-bottom: 5%;
        }
        #NotPurple {
            color:darkslateblue;
        }
        #Purple {
            color:mediumpurple;
        }
        p:hover {
            color:white;
        }
        .White {
            color:darkslateblue;
        }
        #NotPurple::first-line{
            color:black;
            background-color:darkslateblue;
            font-family:'Prompt', sans-serif;
        }
        article > p{
            background-color:darkslateblue;
            color:black;
        }
        article{
            padding-right: 50%;
            font-family: 'Prompt', sans-serif; /*Calling the font called from the google api with prompt being the font name*/
            font-size:20px; 
        }
        article > p:hover{
            text-shadow: 0px 3px 0px black;
            font-size: 21px;
        }
   